<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompactMinimalTabBarHeight</key>
	<real>24</real>
	<key>Default Arrangement Name</key>
	<string>Arrangement</string>
	<key>Default Bookmark Guid</key>
	<string>AEC3832C-64CF-410D-8815-D3371DA48AD8</string>
	<key>DeleteProfile_SilenceUntil</key>
	<real>643731392.10198104</real>
	<key>DeleteProfile_selection</key>
	<integer>0</integer>
	<key>DisableFullscreenTransparency</key>
	<true/>
	<key>EnableDivisionView</key>
	<false/>
	<key>FlashTabBarInFullscreen</key>
	<false/>
	<key>HapticFeedbackForEsc</key>
	<false/>
	<key>HideActivityIndicator</key>
	<true/>
	<key>HideScrollbar</key>
	<true/>
	<key>HideTab</key>
	<false/>
	<key>HideTabNumber</key>
	<true/>
	<key>HotkeyMigratedFromSingleToMulti</key>
	<true/>
	<key>MinimalTabStyleBackgroundColorDifference</key>
	<real>0.0</real>
	<key>MinimalTabStyleOutlineStrength</key>
	<real>0.0</real>
	<key>MinimalTabStyleTreatLeftInsetAsPartOfFirstTab</key>
	<false/>
	<key>NeverWarnAboutShortLivedSessions_AEC3832C-64CF-410D-8815-D3371DA48AD8</key>
	<true/>
	<key>NeverWarnAboutShortLivedSessions_AEC3832C-64CF-410D-8815-D3371DA48AD8_selection</key>
	<integer>0</integer>
	<key>NeverWarnAboutShortLivedSessions_F9115572-126E-40BE-A94A-EDE3B306C873</key>
	<true/>
	<key>NeverWarnAboutShortLivedSessions_F9115572-126E-40BE-A94A-EDE3B306C873_selection</key>
	<integer>0</integer>
	<key>New Bookmarks</key>
	<array>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>AWDS Pane Directory</key>
			<string></string>
			<key>AWDS Pane Option</key>
			<string>Recycle</string>
			<key>AWDS Tab Directory</key>
			<string></string>
			<key>AWDS Tab Option</key>
			<string>Recycle</string>
			<key>AWDS Window Directory</key>
			<string></string>
			<key>AWDS Window Option</key>
			<string>No</string>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Alpha Component</key>
				<integer>1</integer>
				<key>Blue Component</key>
				<real>0.36862745098039218</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.36862745098039218</real>
				<key>Red Component</key>
				<real>0.36862745098039218</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>0</integer>
				<key>Green Component</key>
				<integer>0</integer>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<integer>1</integer>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<integer>1</integer>
				<key>Red Component</key>
				<integer>1</integer>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<integer>1</integer>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Green Component</key>
				<integer>1</integer>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Green Component</key>
				<integer>1</integer>
				<key>Red Component</key>
				<integer>1</integer>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Alpha Component</key>
				<integer>1</integer>
				<key>Blue Component</key>
				<real>0.62745098039215685</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.88235294117647056</real>
				<key>Red Component</key>
				<real>0.42352941176470588</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Alpha Component</key>
				<integer>1</integer>
				<key>Blue Component</key>
				<real>0.47450980392156861</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.94117647058823528</real>
				<key>Red Component</key>
				<real>0.96078431372549022</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Alpha Component</key>
				<integer>1</integer>
				<key>Blue Component</key>
				<real>0.87450980392156863</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.50588235294117645</real>
				<key>Red Component</key>
				<real>0.18823529411764706</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<integer>0</integer>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Alpha Component</key>
				<integer>1</integer>
				<key>Blue Component</key>
				<real>0.89803921568627454</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.87450980392156863</real>
				<key>Red Component</key>
				<integer>0</integer>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<integer>1</integer>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<integer>1</integer>
				<key>Blue Component</key>
				<real>0.062745098039215672</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.062745098039215672</real>
				<key>Red Component</key>
				<real>0.062745098039215672</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Background Image Mode</key>
			<integer>0</integer>
			<key>Blinking Cursor</key>
			<true/>
			<key>Blur</key>
			<false/>
			<key>Bold Color</key>
			<dict>
				<key>Alpha Component</key>
				<integer>1</integer>
				<key>Blue Component</key>
				<real>0.90980392156862744</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.90980392156862744</real>
				<key>Red Component</key>
				<real>0.90980392156862744</real>
			</dict>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>150</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Green Component</key>
				<integer>1</integer>
				<key>Red Component</key>
				<integer>1</integer>
			</dict>
			<key>Cursor Type</key>
			<integer>0</integer>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>Advanced</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Guid</key>
			<string>AEC3832C-64CF-410D-8815-D3371DA48AD8</string>
			<key>Horizontal Spacing</key>
			<integer>1</integer>
			<key>Icon</key>
			<integer>0</integer>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Initial Text</key>
			<string></string>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict>
				<key>0x2d-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1f</string>
				</dict>
				<key>0x32-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x00</string>
				</dict>
				<key>0x33-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b</string>
				</dict>
				<key>0x34-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1c</string>
				</dict>
				<key>0x35-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1d</string>
				</dict>
				<key>0x36-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1e</string>
				</dict>
				<key>0x37-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1f</string>
				</dict>
				<key>0x38-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x7f</string>
				</dict>
				<key>0xf700-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2A</string>
				</dict>
				<key>0xf700-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5A</string>
				</dict>
				<key>0xf700-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6A</string>
				</dict>
				<key>0xf700-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x41</string>
				</dict>
				<key>0xf701-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2B</string>
				</dict>
				<key>0xf701-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5B</string>
				</dict>
				<key>0xf701-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6B</string>
				</dict>
				<key>0xf701-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x42</string>
				</dict>
				<key>0xf702-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2D</string>
				</dict>
				<key>0xf702-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5D</string>
				</dict>
				<key>0xf702-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6D</string>
				</dict>
				<key>0xf702-0x280000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>b</string>
				</dict>
				<key>0xf703-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2C</string>
				</dict>
				<key>0xf703-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5C</string>
				</dict>
				<key>0xf703-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6C</string>
				</dict>
				<key>0xf703-0x280000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>f</string>
				</dict>
				<key>0xf704-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2P</string>
				</dict>
				<key>0xf705-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2Q</string>
				</dict>
				<key>0xf706-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2R</string>
				</dict>
				<key>0xf707-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2S</string>
				</dict>
				<key>0xf708-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[15;2~</string>
				</dict>
				<key>0xf709-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[17;2~</string>
				</dict>
				<key>0xf70a-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[18;2~</string>
				</dict>
				<key>0xf70b-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[19;2~</string>
				</dict>
				<key>0xf70c-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[20;2~</string>
				</dict>
				<key>0xf70d-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[21;2~</string>
				</dict>
				<key>0xf70e-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[23;2~</string>
				</dict>
				<key>0xf70f-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[24;2~</string>
				</dict>
				<key>0xf729-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2H</string>
				</dict>
				<key>0xf729-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5H</string>
				</dict>
				<key>0xf72b-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2F</string>
				</dict>
				<key>0xf72b-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5F</string>
				</dict>
			</dict>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Default</string>
			<key>Non Ascii Font</key>
			<string>NovaMonoForPowerline 12</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Non-ASCII Ligatures</key>
			<false/>
			<key>Normal Font</key>
			<string>Monaco 12</string>
			<key>Option Key Sends</key>
			<integer>0</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>42</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>1000</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>0</integer>
				<key>Green Component</key>
				<integer>0</integer>
				<key>Red Component</key>
				<integer>0</integer>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Green Component</key>
				<real>0.8353000283241272</real>
				<key>Red Component</key>
				<real>0.70980000495910645</real>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Silence Bell</key>
			<true/>
			<key>Space</key>
			<integer>0</integer>
			<key>Sync Title</key>
			<false/>
			<key>Tab Color</key>
			<dict>
				<key>Alpha Component</key>
				<integer>1</integer>
				<key>Blue Component</key>
				<integer>0</integer>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<integer>0</integer>
				<key>Red Component</key>
				<integer>0</integer>
			</dict>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Title Components</key>
			<integer>2</integer>
			<key>Transparency</key>
			<integer>0</integer>
			<key>Unlimited Scrollback</key>
			<false/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<true/>
			<key>Use Tab Color</key>
			<false/>
			<key>Use Underline Color</key>
			<false/>
			<key>Vertical Spacing</key>
			<integer>1</integer>
			<key>Visual Bell</key>
			<false/>
			<key>Window Type</key>
			<integer>13</integer>
			<key>Working Directory</key>
			<string>/Users/fxrlv</string>
		</dict>
	</array>
	<key>OpenArrangementAtStartup</key>
	<true/>
	<key>OpenNoWindowsAtStartup</key>
	<false/>
	<key>PerPaneBackgroundImage</key>
	<true/>
	<key>PromptOnQuit</key>
	<false/>
	<key>QuitWhenAllWindowsClosed</key>
	<true/>
	<key>SeparateStatusBarsPerPane</key>
	<false/>
	<key>ShowFullScreenTabBar</key>
	<false/>
	<key>ShowNewOutputIndicator</key>
	<false/>
	<key>ShowPaneTitles</key>
	<false/>
	<key>SoundForEsc</key>
	<false/>
	<key>SplitPaneDimmingAmount</key>
	<real>0.10000000000000001</real>
	<key>TabStyleWithAutomaticOption</key>
	<integer>5</integer>
	<key>VisualIndicatorForEsc</key>
	<false/>
	<key>Window Arrangements</key>
	<dict>
		<key>Arrangement</key>
		<array>
			<dict>
				<key>Desired Columns</key>
				<integer>150</integer>
				<key>Desired Rows</key>
				<integer>42</integer>
				<key>Has Toolbelt</key>
				<false/>
				<key>Height</key>
				<real>742</real>
				<key>Hide After Opening</key>
				<false/>
				<key>Hiding Toolbelt Should Resize Window</key>
				<true/>
				<key>Initial Profile</key>
				<dict/>
				<key>Is Hotkey Window</key>
				<false/>
				<key>Saved Window Type</key>
				<integer>13</integer>
				<key>Screen</key>
				<integer>0</integer>
				<key>Scroller Width</key>
				<real>0.0</real>
				<key>Selected Tab Index</key>
				<integer>0</integer>
				<key>Tabs</key>
				<array>
					<dict>
						<key>Root</key>
						<dict>
							<key>Splitter ID</key>
							<string>A93BE24B-FC67-47E6-B959-024FD99B40E6</string>
							<key>Subviews</key>
							<array>
								<dict>
									<key>Is Active</key>
									<integer>1</integer>
									<key>Session</key>
									<dict>
										<key>Bookmark</key>
										<dict>
											<key>ASCII Anti Aliased</key>
											<true/>
											<key>AWDS Pane Directory</key>
											<string></string>
											<key>AWDS Pane Option</key>
											<string>Recycle</string>
											<key>AWDS Tab Directory</key>
											<string></string>
											<key>AWDS Tab Option</key>
											<string>Recycle</string>
											<key>AWDS Window Directory</key>
											<string></string>
											<key>AWDS Window Option</key>
											<string>No</string>
											<key>Ambiguous Double Width</key>
											<false/>
											<key>Ansi 0 Color</key>
											<dict>
												<key>Alpha Component</key>
												<integer>1</integer>
												<key>Blue Component</key>
												<real>0.36862745098039218</real>
												<key>Color Space</key>
												<string>sRGB</string>
												<key>Green Component</key>
												<real>0.36862745098039218</real>
												<key>Red Component</key>
												<real>0.36862745098039218</real>
											</dict>
											<key>Ansi 1 Color</key>
											<dict>
												<key>Blue Component</key>
												<integer>0</integer>
												<key>Green Component</key>
												<integer>0</integer>
												<key>Red Component</key>
												<real>0.73333334922790527</real>
											</dict>
											<key>Ansi 10 Color</key>
											<dict>
												<key>Blue Component</key>
												<real>0.3333333432674408</real>
												<key>Green Component</key>
												<integer>1</integer>
												<key>Red Component</key>
												<real>0.3333333432674408</real>
											</dict>
											<key>Ansi 11 Color</key>
											<dict>
												<key>Blue Component</key>
												<real>0.3333333432674408</real>
												<key>Green Component</key>
												<integer>1</integer>
												<key>Red Component</key>
												<integer>1</integer>
											</dict>
											<key>Ansi 12 Color</key>
											<dict>
												<key>Blue Component</key>
												<integer>1</integer>
												<key>Green Component</key>
												<real>0.3333333432674408</real>
												<key>Red Component</key>
												<real>0.3333333432674408</real>
											</dict>
											<key>Ansi 13 Color</key>
											<dict>
												<key>Blue Component</key>
												<integer>1</integer>
												<key>Green Component</key>
												<real>0.3333333432674408</real>
												<key>Red Component</key>
												<integer>1</integer>
											</dict>
											<key>Ansi 14 Color</key>
											<dict>
												<key>Blue Component</key>
												<integer>1</integer>
												<key>Green Component</key>
												<integer>1</integer>
												<key>Red Component</key>
												<real>0.3333333432674408</real>
											</dict>
											<key>Ansi 15 Color</key>
											<dict>
												<key>Blue Component</key>
												<integer>1</integer>
												<key>Green Component</key>
												<integer>1</integer>
												<key>Red Component</key>
												<integer>1</integer>
											</dict>
											<key>Ansi 2 Color</key>
											<dict>
												<key>Alpha Component</key>
												<integer>1</integer>
												<key>Blue Component</key>
												<real>0.62745098039215685</real>
												<key>Color Space</key>
												<string>sRGB</string>
												<key>Green Component</key>
												<real>0.88235294117647056</real>
												<key>Red Component</key>
												<real>0.42352941176470588</real>
											</dict>
											<key>Ansi 3 Color</key>
											<dict>
												<key>Alpha Component</key>
												<integer>1</integer>
												<key>Blue Component</key>
												<real>0.47450980392156861</real>
												<key>Color Space</key>
												<string>sRGB</string>
												<key>Green Component</key>
												<real>0.94117647058823528</real>
												<key>Red Component</key>
												<real>0.96078431372549022</real>
											</dict>
											<key>Ansi 4 Color</key>
											<dict>
												<key>Alpha Component</key>
												<integer>1</integer>
												<key>Blue Component</key>
												<real>0.87450980392156863</real>
												<key>Color Space</key>
												<string>sRGB</string>
												<key>Green Component</key>
												<real>0.50588235294117645</real>
												<key>Red Component</key>
												<real>0.18823529411764706</real>
											</dict>
											<key>Ansi 5 Color</key>
											<dict>
												<key>Blue Component</key>
												<real>0.73333334922790527</real>
												<key>Green Component</key>
												<integer>0</integer>
												<key>Red Component</key>
												<real>0.73333334922790527</real>
											</dict>
											<key>Ansi 6 Color</key>
											<dict>
												<key>Alpha Component</key>
												<integer>1</integer>
												<key>Blue Component</key>
												<real>0.89803921568627454</real>
												<key>Color Space</key>
												<string>sRGB</string>
												<key>Green Component</key>
												<real>0.87450980392156863</real>
												<key>Red Component</key>
												<integer>0</integer>
											</dict>
											<key>Ansi 7 Color</key>
											<dict>
												<key>Blue Component</key>
												<real>0.73333334922790527</real>
												<key>Green Component</key>
												<real>0.73333334922790527</real>
												<key>Red Component</key>
												<real>0.73333334922790527</real>
											</dict>
											<key>Ansi 8 Color</key>
											<dict>
												<key>Blue Component</key>
												<real>0.3333333432674408</real>
												<key>Green Component</key>
												<real>0.3333333432674408</real>
												<key>Red Component</key>
												<real>0.3333333432674408</real>
											</dict>
											<key>Ansi 9 Color</key>
											<dict>
												<key>Blue Component</key>
												<real>0.3333333432674408</real>
												<key>Green Component</key>
												<real>0.3333333432674408</real>
												<key>Red Component</key>
												<integer>1</integer>
											</dict>
											<key>BM Growl</key>
											<true/>
											<key>Background Color</key>
											<dict>
												<key>Alpha Component</key>
												<integer>1</integer>
												<key>Blue Component</key>
												<real>0.062745098039215672</real>
												<key>Color Space</key>
												<string>sRGB</string>
												<key>Green Component</key>
												<real>0.062745098039215672</real>
												<key>Red Component</key>
												<real>0.062745098039215672</real>
											</dict>
											<key>Background Image Location</key>
											<string></string>
											<key>Background Image Mode</key>
											<integer>0</integer>
											<key>Blinking Cursor</key>
											<true/>
											<key>Blur</key>
											<false/>
											<key>Bold Color</key>
											<dict>
												<key>Alpha Component</key>
												<integer>1</integer>
												<key>Blue Component</key>
												<real>0.90980392156862744</real>
												<key>Color Space</key>
												<string>sRGB</string>
												<key>Green Component</key>
												<real>0.90980392156862744</real>
												<key>Red Component</key>
												<real>0.90980392156862744</real>
											</dict>
											<key>Character Encoding</key>
											<integer>4</integer>
											<key>Close Sessions On End</key>
											<true/>
											<key>Columns</key>
											<integer>150</integer>
											<key>Command</key>
											<string></string>
											<key>Cursor Color</key>
											<dict>
												<key>Blue Component</key>
												<real>0.73333334922790527</real>
												<key>Green Component</key>
												<real>0.73333334922790527</real>
												<key>Red Component</key>
												<real>0.73333334922790527</real>
											</dict>
											<key>Cursor Text Color</key>
											<dict>
												<key>Blue Component</key>
												<integer>1</integer>
												<key>Green Component</key>
												<integer>1</integer>
												<key>Red Component</key>
												<integer>1</integer>
											</dict>
											<key>Cursor Type</key>
											<integer>0</integer>
											<key>Custom Command</key>
											<string>No</string>
											<key>Custom Directory</key>
											<string>Advanced</string>
											<key>Default Bookmark</key>
											<string>No</string>
											<key>Description</key>
											<string>Default</string>
											<key>Disable Window Resizing</key>
											<true/>
											<key>Flashing Bell</key>
											<false/>
											<key>Foreground Color</key>
											<dict>
												<key>Blue Component</key>
												<real>0.73333334922790527</real>
												<key>Green Component</key>
												<real>0.73333334922790527</real>
												<key>Red Component</key>
												<real>0.73333334922790527</real>
											</dict>
											<key>Guid</key>
											<string>5D7D0456-E96B-47F0-832F-A4FD27C434EA</string>
											<key>Horizontal Spacing</key>
											<integer>1</integer>
											<key>Icon</key>
											<integer>0</integer>
											<key>Idle Code</key>
											<integer>0</integer>
											<key>Initial Text</key>
											<string></string>
											<key>Jobs to Ignore</key>
											<array>
												<string>rlogin</string>
												<string>ssh</string>
												<string>slogin</string>
												<string>telnet</string>
											</array>
											<key>Keyboard Map</key>
											<dict>
												<key>0x2d-0x40000</key>
												<dict>
													<key>Action</key>
													<integer>11</integer>
													<key>Text</key>
													<string>0x1f</string>
												</dict>
												<key>0x32-0x40000</key>
												<dict>
													<key>Action</key>
													<integer>11</integer>
													<key>Text</key>
													<string>0x00</string>
												</dict>
												<key>0x33-0x40000</key>
												<dict>
													<key>Action</key>
													<integer>11</integer>
													<key>Text</key>
													<string>0x1b</string>
												</dict>
												<key>0x34-0x40000</key>
												<dict>
													<key>Action</key>
													<integer>11</integer>
													<key>Text</key>
													<string>0x1c</string>
												</dict>
												<key>0x35-0x40000</key>
												<dict>
													<key>Action</key>
													<integer>11</integer>
													<key>Text</key>
													<string>0x1d</string>
												</dict>
												<key>0x36-0x40000</key>
												<dict>
													<key>Action</key>
													<integer>11</integer>
													<key>Text</key>
													<string>0x1e</string>
												</dict>
												<key>0x37-0x40000</key>
												<dict>
													<key>Action</key>
													<integer>11</integer>
													<key>Text</key>
													<string>0x1f</string>
												</dict>
												<key>0x38-0x40000</key>
												<dict>
													<key>Action</key>
													<integer>11</integer>
													<key>Text</key>
													<string>0x7f</string>
												</dict>
												<key>0xf700-0x220000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[1;2A</string>
												</dict>
												<key>0xf700-0x240000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[1;5A</string>
												</dict>
												<key>0xf700-0x260000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[1;6A</string>
												</dict>
												<key>0xf700-0x280000</key>
												<dict>
													<key>Action</key>
													<integer>11</integer>
													<key>Text</key>
													<string>0x1b 0x1b 0x5b 0x41</string>
												</dict>
												<key>0xf701-0x220000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[1;2B</string>
												</dict>
												<key>0xf701-0x240000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[1;5B</string>
												</dict>
												<key>0xf701-0x260000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[1;6B</string>
												</dict>
												<key>0xf701-0x280000</key>
												<dict>
													<key>Action</key>
													<integer>11</integer>
													<key>Text</key>
													<string>0x1b 0x1b 0x5b 0x42</string>
												</dict>
												<key>0xf702-0x220000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[1;2D</string>
												</dict>
												<key>0xf702-0x240000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[1;5D</string>
												</dict>
												<key>0xf702-0x260000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[1;6D</string>
												</dict>
												<key>0xf702-0x280000-0x0</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>b</string>
												</dict>
												<key>0xf703-0x220000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[1;2C</string>
												</dict>
												<key>0xf703-0x240000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[1;5C</string>
												</dict>
												<key>0xf703-0x260000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[1;6C</string>
												</dict>
												<key>0xf703-0x280000-0x0</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>f</string>
												</dict>
												<key>0xf704-0x20000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[1;2P</string>
												</dict>
												<key>0xf705-0x20000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[1;2Q</string>
												</dict>
												<key>0xf706-0x20000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[1;2R</string>
												</dict>
												<key>0xf707-0x20000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[1;2S</string>
												</dict>
												<key>0xf708-0x20000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[15;2~</string>
												</dict>
												<key>0xf709-0x20000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[17;2~</string>
												</dict>
												<key>0xf70a-0x20000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[18;2~</string>
												</dict>
												<key>0xf70b-0x20000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[19;2~</string>
												</dict>
												<key>0xf70c-0x20000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[20;2~</string>
												</dict>
												<key>0xf70d-0x20000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[21;2~</string>
												</dict>
												<key>0xf70e-0x20000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[23;2~</string>
												</dict>
												<key>0xf70f-0x20000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[24;2~</string>
												</dict>
												<key>0xf729-0x20000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[1;2H</string>
												</dict>
												<key>0xf729-0x40000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[1;5H</string>
												</dict>
												<key>0xf72b-0x20000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[1;2F</string>
												</dict>
												<key>0xf72b-0x40000</key>
												<dict>
													<key>Action</key>
													<integer>10</integer>
													<key>Text</key>
													<string>[1;5F</string>
												</dict>
											</dict>
											<key>Mouse Reporting</key>
											<true/>
											<key>Name</key>
											<string>Default</string>
											<key>Non Ascii Font</key>
											<string>NovaMonoForPowerline 12</string>
											<key>Non-ASCII Anti Aliased</key>
											<true/>
											<key>Non-ASCII Ligatures</key>
											<false/>
											<key>Normal Font</key>
											<string>Monaco 12</string>
											<key>Option Key Sends</key>
											<integer>0</integer>
											<key>Original Guid</key>
											<string>AEC3832C-64CF-410D-8815-D3371DA48AD8</string>
											<key>Prompt Before Closing 2</key>
											<false/>
											<key>Right Option Key Sends</key>
											<integer>0</integer>
											<key>Rows</key>
											<integer>42</integer>
											<key>Screen</key>
											<integer>-1</integer>
											<key>Scrollback Lines</key>
											<integer>1000</integer>
											<key>Selected Text Color</key>
											<dict>
												<key>Blue Component</key>
												<integer>0</integer>
												<key>Green Component</key>
												<integer>0</integer>
												<key>Red Component</key>
												<integer>0</integer>
											</dict>
											<key>Selection Color</key>
											<dict>
												<key>Blue Component</key>
												<integer>1</integer>
												<key>Green Component</key>
												<real>0.8353000283241272</real>
												<key>Red Component</key>
												<real>0.70980000495910645</real>
											</dict>
											<key>Send Code When Idle</key>
											<false/>
											<key>Shortcut</key>
											<string></string>
											<key>Silence Bell</key>
											<true/>
											<key>Space</key>
											<integer>0</integer>
											<key>Sync Title</key>
											<false/>
											<key>Tab Color</key>
											<dict>
												<key>Alpha Component</key>
												<integer>1</integer>
												<key>Blue Component</key>
												<integer>0</integer>
												<key>Color Space</key>
												<string>sRGB</string>
												<key>Green Component</key>
												<integer>0</integer>
												<key>Red Component</key>
												<integer>0</integer>
											</dict>
											<key>Tags</key>
											<array/>
											<key>Terminal Type</key>
											<string>xterm-256color</string>
											<key>Title Components</key>
											<integer>3</integer>
											<key>Transparency</key>
											<integer>0</integer>
											<key>Unlimited Scrollback</key>
											<false/>
											<key>Use Bold Font</key>
											<true/>
											<key>Use Bright Bold</key>
											<true/>
											<key>Use Italic Font</key>
											<true/>
											<key>Use Non-ASCII Font</key>
											<true/>
											<key>Use Tab Color</key>
											<false/>
											<key>Use Underline Color</key>
											<false/>
											<key>Vertical Spacing</key>
											<integer>1</integer>
											<key>Visual Bell</key>
											<false/>
											<key>Window Type</key>
											<integer>13</integer>
											<key>Working Directory</key>
											<string>/Users/fxrlv</string>
										</dict>
										<key>Columns</key>
										<integer>150</integer>
										<key>Commands</key>
										<array/>
										<key>Directories</key>
										<array>
											<string>/Users/fxrlv</string>
										</array>
										<key>Environment</key>
										<dict>
											<key>PWD</key>
											<string>/Users/fxrlv</string>
										</dict>
										<key>Hostname to Shell</key>
										<dict/>
										<key>Hosts</key>
										<array/>
										<key>Is UTF-8</key>
										<true/>
										<key>Key Labels</key>
										<dict/>
										<key>Name Controller State</key>
										<dict>
											<key>icon title stack</key>
											<array/>
											<key>window title stack</key>
											<array/>
										</dict>
										<key>Overridden Fields</key>
										<array>
											<string>Original Guid</string>
											<string>Guid</string>
											<string>Title Components</string>
										</array>
										<key>Program</key>
										<dict>
											<key>Command</key>
											<string>login -fp "fxrlv"</string>
											<key>Type</key>
											<string>Command</string>
										</dict>
										<key>Rows</key>
										<integer>42</integer>
										<key>Session GUID</key>
										<string>33417688-5A6A-47FC-A3F1-CA003672DD58</string>
										<key>Short Lived Single Use</key>
										<false/>
										<key>Should Expect Current Dir Updates</key>
										<false/>
										<key>Should Expect Prompt Marks</key>
										<false/>
										<key>Substitutions</key>
										<dict>
											<key>$$$$</key>
											<string>$$</string>
										</dict>
										<key>Working Directory</key>
										<string>/Users/fxrlv</string>
										<key>Working Directory Poller Disabled</key>
										<false/>
									</dict>
									<key>View Type</key>
									<string>SessionView</string>
									<key>frame</key>
									<dict>
										<key>height</key>
										<real>718</real>
										<key>width</key>
										<real>1060</real>
										<key>x</key>
										<real>0.0</real>
										<key>y</key>
										<real>0.0</real>
									</dict>
								</dict>
							</array>
							<key>View Type</key>
							<string>Splitter</string>
							<key>frame</key>
							<dict>
								<key>height</key>
								<real>718</real>
								<key>width</key>
								<real>1060</real>
								<key>x</key>
								<real>0.0</real>
								<key>y</key>
								<real>0.0</real>
							</dict>
							<key>isVertical</key>
							<false/>
						</dict>
						<key>Tab GUID</key>
						<string>FDE99AAC-B8A6-4B87-82D2-45F75132B52B</string>
					</dict>
				</array>
				<key>TerminalGuid</key>
				<string>pty-8D3E382B-58A7-42F6-AD02-67D3FD2725E8</string>
				<key>Toolbelt</key>
				<dict>
					<key>Profiles</key>
					<dict>
						<key>iTermToolProfilesProfileListViewState</key>
						<dict>
							<key>iTermProfileListViewRestorableStateTagsFraction</key>
							<real>0.0</real>
							<key>iTermProfileListViewRestorableStateTagsVisible</key>
							<false/>
						</dict>
					</dict>
				</dict>
				<key>Toolbelt Proportions</key>
				<dict>
					<key>proportions</key>
					<array>
						<dict>
							<key>heightAsFraction</key>
							<real>1</real>
							<key>name</key>
							<string>Profiles</string>
						</dict>
					</array>
				</dict>
				<key>Use Transparency</key>
				<true/>
				<key>Width</key>
				<real>1060</real>
				<key>Window Type</key>
				<integer>13</integer>
				<key>X Origin</key>
				<real>366</real>
				<key>Y Origin</key>
				<real>225</real>
			</dict>
		</array>
	</dict>
	<key>WindowNumber</key>
	<false/>
</dict>
</plist>
